[submodule "dependencies/components"]
	path = dependencies/components
	url = git://github.com/herrmanno/components.git
[submodule "dependencies/flux"]
	path = dependencies/flux
	url = git://github.com/herrmanno/flux.git
[submodule "dependencies/watch"]
	path = dependencies/watch
	url = git://github.com/herrmanno/watch.git
[submodule "dependencies/promise"]
	path = dependencies/promise
	url = git://github.com/herrmanno/promise.git
